@use "@src/shared/scss/logic/func";

@mixin mediaFZ($maxWidth, $value, $size) {
	@media (max-width: $maxWidth) {
		font-size: func.vw($value, $size);
	}
}

@mixin mediaPI($maxWidth, $value, $size){
	@media (max-width: $maxWidth) {
		padding-inline: func.vw($value, $size);
	}
}

@mixin mediaGAP($maxWidth, $value, $size){
	@media (max-width: $maxWidth) {
		gap: func.vw($value, $size);
	}
}