@use "@src/shared/scss/logic/func";

.main_btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  padding: func.vw(8, 1920) func.vw(12, 1920);
  border-radius: func.vw(5, 1920);

  &.white{
    background-color: white;
    border: 1px solid var(--gray-main);

    @media (hover: hover) {
      &:hover{
        background-color: var(--gray-25);
      }
    }
    
    @media (hover: none) {
      &:active{
        background-color: white;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
      }
    }

    &:active{
      background-color: white;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  @media (max-width: 1440px) {
    padding: func.vw(8, 1440) func.vw(12, 1440);
    border-radius: func.vw(5, 1440);
  }
  
  @media (max-width: 960px) {
    padding: func.vw(8, 960) func.vw(12, 960);
    border-radius: func.vw(5, 960);
  }

  @media (max-width: 720px) {
    padding: func.vw(8, 720) func.vw(12, 720);
    border-radius: func.vw(5, 720);
  }
  
  @media (max-width: 540px) {
    padding: func.vw(8, 540) func.vw(12, 540);
    border-radius: func.vw(5, 540);
  }
  
  @media (max-width: 420px) {
    padding: func.vw(8, 420) func.vw(12, 420);
    border-radius: func.vw(5, 420);
  }
}