@use "@src/shared/scss/logic/func";
@use "@src/shared/scss/logic/mixin";

.card_container{
  border-radius: 10px;
  background-color: var(--yellow-25);
  width: 100%;
  position: relative;
}

.card_wrapper{
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: func.vw(64, 1920);
  padding: func.vw(24, 1920) func.vw(32, 1920);

  @media (max-width: 1440px) {
    gap: func.vw(64, 1440);
    padding: func.vw(24, 1440) func.vw(32, 1440);
  }
  
  @media (max-width: 960px) {
    gap: func.vw(64, 960);
    padding: func.vw(24, 960) func.vw(32, 960);
  }
  
  @media (max-width: 720px) {
    gap: func.vw(64, 720);
    padding: func.vw(24, 720) func.vw(32, 720);
  }
  
  @media (max-width: 540px) {
    gap: func.vw(64, 540);
    padding: func.vw(24, 540) func.vw(32, 540);
  }

  @media (max-width: 420px) {
    gap: func.vw(64, 420);
    padding: func.vw(24, 420) func.vw(32, 420);
  }
}

.card_text{
  display: flex;
  flex-direction: column;
  gap: func.vw(8, 1920);

  p{
    opacity: 85%;
  }

  @include mixin.mediaGAP(1440px, 8, 1440);
  @include mixin.mediaGAP(960px, 8, 960);
  @include mixin.mediaGAP(720px, 8, 720);
  @include mixin.mediaGAP(540px, 8, 540);
  @include mixin.mediaGAP(420px, 8, 420);
}

.card_btn{
  display: flex;
  align-items: center;
  gap: func.vw(16, 1920);

  @include mixin.mediaGAP(1440px, 16, 1440);
  @include mixin.mediaGAP(960px, 16, 960);
  @include mixin.mediaGAP(720px, 16, 720);
  @include mixin.mediaGAP(540px, 16, 540);
  @include mixin.mediaGAP(420px, 16, 420);
}

.card_img{
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}