@use "@src/shared/scss/logic/func";
@use "@src/shared/scss/logic/mixin";

.p14 {
	font-size: func.vw(14, 1920);

	&__bold{
		@extend .p14;
		font-weight: 700;
	}

	@include mixin.mediaFZ(1440px, 14, 1440);
	@include mixin.mediaFZ(960px, 14, 960);
	@include mixin.mediaFZ(720px, 14, 720);
	@include mixin.mediaFZ(540px, 14, 540);
	@include mixin.mediaFZ(420px, 14, 420);
	@include mixin.mediaFZ(340px, 14, 340);
}


.p18 {
	font-size: func.vw(18, 1920);

	@include mixin.mediaFZ(1440px, 18, 1440);
	@include mixin.mediaFZ(960px, 18, 960);
	@include mixin.mediaFZ(720px, 18, 720);
	@include mixin.mediaFZ(540px, 18, 540);
	@include mixin.mediaFZ(420px, 18, 420);
	@include mixin.mediaFZ(340px, 18, 340);

	&__bold {
		@extend .p18;
		font-weight: 700;
	}
}
